<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testng.Testng_keyword_Priority"/>
      <class name="testng.example7_keywords4_Timeout"/>
      <class name="testng.example5_Keyword2_Priority1"/>
      <class name="testng.example5_Keyword2_Priority6_variable_decimal"/>
      <class name="testng.example5_Keyword2_Priority3"/>
      <class name="testng.example5_Keyword2_Priority4"/>
      <class name="testng.example10_Assertion_Verification_Using_AssertClass2_AssertNotEquals"/>
      <class name="testng.example5_Keyword2_Priority5"/>
      <class name="testng.example6_keyword3_Enabled"/>
      <class name="testng.TestNG_keywordInvocation3"/>
      <class name="testng.example8_Keyword5_DependsOnMethod2"/>
      <class name="testng.example8_Keyword5_DependsOnMethod3"/>
      <class name="testng.example13_Parallel2"/>
      <class name="testng.example13_Parallel1"/>
      <class name="testng.example10_Assertion_Verification_Using_AssertClass1_AssertEquals"/>
      <class name="testng.TestNg_Keyword_InvocationCountEx2"/>
      <class name="testng.Testng_keyword_InvocationCount"/>
      <class name="pkg.TestNgBasics"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
